body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-name{
    color: #304438 !important;
    font-weight: 900;
    font-size: 28px;;
    margin: 0 0 0 70px;
}
.nav-item a {
    font-size: 10px;

}
.navbar-nav{
    margin: 0 0 0 70px;
}
.btn{
    background-color: #304438 !important;
    color: white;
    margin: 0 70px 0 0;
}
.hero{
    background-image: url(banner.jpg);
    padding: 100px 0 0 120px;
    height: 430px;
    background-repeat: no-repeat;
    background-size: 100%;
    color: whitesmoke;

}
.hero h4{
    font-weight: 500;
}
.hero h5{
    font-size: 12px;
}

.col-lg-12{
    font-size: 30px;
    text-align: center;
    margin: 30px 0;
}

.col-lg-3 img{
    height: 40px;
    width: 40px;
    margin: 0 0 0 90px;
}
.col-lg-3 h3{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.col-lg-3 h6{
    font-size: 12px;
    text-align: center;
    color: grey;
}
.feat{
    text-align: center;
    font-weight: bold;
    color: white;
}
.feature{
    margin: 40px 0 0 0;
    background-color: #304438;
    height: 120px;
}
.col-lg-2 img{
    height: 25px;
    width: 120px;
    margin: 14px 0 0 0;
}
.secondbtn{
    background-color: #fff;
    color: #304438;
    width: 190px;
    height: 40px;
    border-radius: 1px solid #304438;
    border-radius: 3px;
    font-size: 15px;
}
.image{
    height: 420px;
    width: 400px;
    margin: 0 500px 0 0;
}
.test{
    background-color: lightgrey !important;
    height: 470px;
    width: 520px;
    padding: 100px 0 0 80px;
    margin: -450px 0 0 550px !important;
    text-align: start;
}

.banners{
    margin: 100px 0 0 0 ;
}
.para{
    font-size: 13px;

}
.second-test{
    background-color: #304438;
    height: 500px;
    width: 550px;
    padding: 40px 0 0 80px;
    margin: -10px 0 0 120px;
    color: #fff;
    text-align: start;
}.image2{
    height: 400px ;
    width: 420px;
    margin: -620px 0 0 350px ;
}
.money{
    font-size: small;
    padding: 0 0 20px 0;
}
.table-banner{
    background-color: lightgrey;
    padding: 20px;
}
.table1{
    margin: 20px 200px 20px 200px;
    font-size: small;
}
.str{
    text-align: start;
}
.brn{
    border-left: 3px solid green;
    border-right: 3px solid green;
}
   
.top{
    border-top: 3px solid green;

}
.btm{
    border-bottom: 3px solid green;
}