body{
    margin: 0;
    padding: 0;
}
.main-landing{
    background-image: url('/practice2/netflix.png');
    height: 400px;
    margin: -20px 0 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-area{
    display: flex;
    justify-content: space-between;
}
.tittle{
    color: #95060e;
    font-size: 25px;
    font-weight: 700;

}
.btn1{
    background-color: #95060e;
    color: white;
    border: none;
    height: 30px;
    width: 60px;
    margin: 20px 25px 0 0;
    border-radius: 3px;
}
.desc{
    color: white;
    text-align: center;
    font-size: 35px;

}
.text{
    color: whitesmoke;
    text-align: center;
    font-size: 17px;
    margin: -20px 0 0 0;
}

.text2{
    color: whitesmoke;
    text-align: center;
    font-size: 17px;
}

.btn2{
    background-color: #95060e;
    color: white;
    border: none;
    height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.input{
    margin: 0 0 0 500px;

}
.banner{
    background-color: black;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    border-top: 8px solid grey ;
    border-bottom: 8px solid grey;
}
.main-text, .sub-text{
    color: white;
}

.main-text{
    margin: 40px 0 0 0;
    font-size: 30px;
}


.tv{
    height: 180px;
}

.banner2{
    background-color: black;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    /* border-top: 8px solid grey; */
    border-bottom: 8px solid grey;
}
.mobile{
    height: 200px;
    width: 400px !important;
}